/* div button {
    float: right;
    margin-left: -50%;
}

button {
    float: right;
    margin-left: -50%;
} */
/* #next {
    /* float: right; */
/* margin-left: -50%; */
/* } */

/* #prev { */
/* float: left; */
/* margin-right: -50%; */
/* } */