<h1> pending sheets:</h1>
<p>Waiting for api</p>

<table mat-table class="mat-elevation-z8 cdk-table" [dataSource]="pendingSalesman">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let salesman">{{salesman.id}}</td>
  </ng-container>

  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let salesman">{{salesman.firstname}}</td>
  </ng-container>

  <ng-container matColumnDef="lastname">
    <th mat-header-cell *matHeaderCellDef>lastname</th>
    <td mat-cell *matCellDef="let salesman">{{salesman.lastname}}</td>
  </ng-container>
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef>department</th>
    <td mat-cell *matCellDef="let salesman">{{salesman.department}}</td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>status</th>
    <td mat-cell *matCellDef="let salesman">pending</td>
    <!-- <td mat-cell *matCellDef="let salesman">{{salesman.department}}</td> -->
  </ng-container>

  <!-- <ng-container matColumnDef="color">
    <th mat-header-cell *matHeaderCellDef>Favourite Color</th>
    <td mat-cell *matCellDef="let salesman" [style.color]="salesman.favourite_color.code">
      {{salesman.favourite_color.name}}
    </td>
  </ng-container> -->

  <!-- <ng-container matColumnDef="age">
    <th mat-header-cell *matHeaderCellDef>Age</th>
    <td mat-cell *matCellDef="let salesman">{{salesman.age}}</td>
  </ng-container> -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>