<ng-container *ngIf=bonusComputationSheet>

    <ng-container *ngIf="isDeclined()&&!isFinished()">
        <h1 style="color: red;"> Bonus Sheet Computation declined !!! </h1>
        <p> Talk to saleman</p>
    </ng-container><ng-container *ngIf=ableToSign&&isSalesman()>
        <button mat-raised-button color="primary" (click)="declineSheetAsSalesman()">Decline</button>
    </ng-container>
    <ng-container *ngIf=ableToSign>
        <button mat-raised-button color="primary" (click)="signCurrentSheet()">Sign</button>
    </ng-container>
    <ng-container *ngIf=ableToSign&&(isCeo()||isHr())>
        <button mat-raised-button color="primary" (click)="updateSheetsApiCall()">updateSheet</button>
    </ng-container>

    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>First Name</mat-label>
            <input matInput disabled value={{bonusComputationSheet.salesman.firstname}}>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput disabled value={{bonusComputationSheet.salesman.lastname}}>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Employee ID </mat-label>
            <input matInput disabled value={{bonusComputationSheet.salesman.id}}>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Department </mat-label>
            <input matInput disabled value={{bonusComputationSheet.salesman.department}}>
        </mat-form-field>



        <mat-form-field class="example-full-width">
            <mat-label>Year of Performance</mat-label>
            <input matInput disabled value={{bonusComputationSheet.yearOfEvaluation}}>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Status </mat-label>
            <input matInput disabled value={{bonusComputationSheet.status}}>
        </mat-form-field>


        <app-table-order [bonusComputationSheet]=bonusComputationSheet [userRole]=roleLoggedIn [ableToSign]=ableToSign></app-table-order>
        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Order Evaluation Bonus </mat-label>
                        <input matInput disabled value={{bonusComputationSheet.orderEvaluation.bonussum}}>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <app-table [bonusComputationSheet]=bonusComputationSheet [userRole]=roleLoggedIn [ableToSign]=ableToSign></app-table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>Social Performance Bonus </mat-label>
                        <input matInput disabled value={{bonusComputationSheet.socialPerformanceEvaluation.bonussum}}>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>totalBonus </mat-label>
                        <input matInput disabled value={{bonusComputationSheet.totalBonus}}>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width">
                        <mat-label>comment </mat-label>
                        <input matInput [disabled]=!(isCeo()&&ableToSign) [(ngModel)]="bonusComputationSheet.comment">
                        <!-- <input matInput [disabled]=!isCeo() value={{bonusComputationSheet.comment}}> -->
                    </mat-form-field>
                </td>

                <!-- <ng-container matColumnDef="comment"> -->
                <!--     <th mat-header-cell *matHeaderCellDef>comment</th> -->
                <!--     <td mat-cell *matCellDef="let  order"> -->
                <!--         <mat-form-field *ngIf=isCeo()> -->
                <!--             <input matInput [(ngModel)]="order.comment" type="string" required -->
                <!--                 (input)="upgradeTODO()"> -->
                <!--         </mat-form-field> -->
                <!--     </td> -->
                <!-- </ng-container> -->

                <!-- <ng-container *ngIf=isCeo()> -->
                <!-- <td> -->
                <!--     <input class="example-full-width" type="text" id="" required [formControl]="comment" size="100"> -->
                <!-- </td> -->
                <!-- </ng-container> -->
            </tr>
        </table>
    </form>

